<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/defstyle.css">
		<meta charset="utf-8">
		<title>Scouting App - Client </title>
	</head>
	<body>
		<div class="centerall">
			<h3><a href="/uploaddb" class="button" style="border-left-style: solid;">Upload over switch</a>
			<a href="/exportdb" class="button" style="border-right-style: solid;">Export to file</a></h3>
		</div>
		<div class="centertext">
			<h1>
				1764 Scouting App
			</h1>
		</div>

		<div class = "floating-box">
			<form action="/client/" method=POST role="form">
				{% set i = -1 %}
				{% for entryname in layoutOrder %}
					{% set i = i+1 %}
					{% set entry = layout[entryname] %}
					{% if entry %}
						{% if entry["type"] == "forumElement" %}
							{% set element = formtable[entryname] %}
							{% if element %}
								{% if element["type"] == "check" %}
									{{entryname}}
									<input type="checkbox" name="{{entryname}}" value="1"> 
									<br>
								{% elif element["type"] == "text" %}
									{{entryname}}
									<input type="text" name="{{entryname}}" value ="">
									<br>
								{% elif element["type"] == "updown" %}
									{{entryname}}
									<input type="number" name="{{entryname}}" value ="0"> 
									<br>
								{% elif element["type"] == "radio" %}
									{{entryname}}
									<br>
									{% set i = -1 %}
									{% for button in element["buttons"] %} 
										{% set i = i+1 %}
										<input type="radio" name="{{entryname}}" value="{{i}}">{{button}}
									{% endfor%}
									<br>
								{% endif %}
								
							{% else %}
								<p>ERROR: Layout element {{entryname}} doesn't have a forum element to back it up.</p>
							{% endif %}
						{% elif entry["type"] == "text" %}
							<p {% if entry["style"] %} style="{{entry["style"]}}" {% endif %}>{% if entry["text"] %} {{entry["text"]}} {% endif %}</p>		
						{% elif entry["type"] == "pic" %}
							<img src="/img/{{entry['image']}}" alt="Picture missing"> 
							<br>
						{% endif %}
					{% else %}
						<p>ERROR: Non-existing element listed</p>
					{% endif%}
				{% endfor %}
				<input type="submit">
				<br>
				<br>
			</form>
		</div>
		<div class="end"></div>
		<br>
		<br>
	</body>
</html>
