{% set i = -1 %}
{% for part in letable %}
	{% set i = i+1 %}
	<a href="/itemSort/{{i}}">{{part.2}}</a>
{% endfor %}
<br>

{% for datatable in teams %}
	<a href="/teamSort/{{datatable.0}}">{{datatable.0}}</a>
{% endfor %}








{% set lastTeam = -1337 %}
{% for datatable in alls %}
	<table>
	{% set i = -1 %}
	{% if itemSort %}
		{% if lastTeam != datatable.0 %}
			<hr>
			<tr><td>Team num</td><td> {{datatable.0}}</tr>
		{% endif %}
		{% set lastTeam = datatable.0 %}
		<tr><td>{{letable[s].2}}</td><td>{{datatable.1}}</td></tr>
				
	{% else %}
		{% for data in datatable %}
			{% set i = i+1 %}
			{% if letable[i].1 == 'head' %}
				<tr><td><hr><h1>{{letable[i].2}}</h1></td><td>
			{% else %}
				<tr><td>{{letable[i].2}}</td><td>
				{% if letable[i].1 == 'radio' %}

					{{letable[i].3[data]}}

				{% elif letable[i].1 == 'check' %}
					{% if avg or minmax %}
						{{data * 100}}% of the time
					{% else %}
						{% if data == 0 %}
							[x]
						{% else %}
							[√]
						{% endif %}
					{% endif %}
				{% else %}
					{{data}} times {% if avg %}on average{%elif minmax %}on {{minmax}}imum{% endif%}
				{% endif %}
				</td></tr>	
			{% endif %}
		{% endfor %}
		</table>
		<hr style = "border-width: 5px;">
	{% endif %}
{% endfor %}
<!--p>hi i exist 2</p-->
