{% set i = -1 %}
{% for part in letable %}
	{% set i = i+1 %}
	<a href="/itemSort/{{i}}">{{part.2}}</a>
{% endfor %}
<br>

{% for datatable in teams %}
	<a href="/teamSort/{{datatable.0}}">{{datatable.0}}</a>
{% endfor %}








{% set lastTeam = -1337 %}
{% for datatable in alls %}
	<table>
	{% set i = -1 %}
	{% if itemSort %}
		{% if lastTeam != datatable.0 %}
			<hr>
			<tr><td>Team num</td><td> {{datatable.0}}</tr>
		{% endif %}
		{% set lastTeam = datatable.0 %}
		<tr><td>{{letable[s].2}}</td><td>{{datatable.1}}</td></tr>
				
	{% else %}
		{% for data in datatable %}
			{% set i = i+1 %}
			<tr><td>{{letable[i].2}}</td><td>
			{% if letable[i].1 == 'radio' %}

				{{letable[i].3[data]}}

			{% elif letable[i].1 == 'check' %}
				{{data}}
				{% if data == 0 %}
					[x]
				{% else %}
					[√]
				{% endif %}

			{% else %}
				{{data}}
			{% endif %}
			</td></tr>	
		{% endfor %}
		</table>
		<hr>
	{% endif %}
{% endfor %}
<!--p>hi i exist 2</p-->
