{% macro input(radioButtNum) -%} {# I would like to do this in pure javascript but I don't know js well and need to get this scouting app finished #}
	var data = {
		labels: [
		{% set firstTime = True %}
		{% if itemSort %}
			{% for teamtab in alls %}
				{%if not firstTime %},{% endif %}"Team {{teamtab.0}}"	
				{% set firstTime = False %}
			{% endfor %}
		{% else %}
			{% for team in teams %}
				{% if not firstTime %},{% endif %}"Team {{team.0}}"
				{% set firstTime = False %}
			{% endfor %}
		{% endif %}

		],

		datasets: [
		{
			label: "Data",
			fillColor: "rgba(220,220,220,0.2)",
			strokeColor: "rgba(220,220,220,1)",
			pointColor: "rgba(220,220,220,1)",
			pointStrokeColor: "#fff",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(220,220,220,1)",
			data: [{{caller()}}]
		},]
	};

{%- endmacro %}
<!DOCTYPE html>
<html>
	<head>
		{% if avg or minmax or itemSort %}
			<script src="/Chart.js"></script>
			<script>
			function onBodyStart()
			{
				var options = {//Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
				    scaleBeginAtZero : true,

				    //Boolean - Whether grid lines are shown across the chart
				    scaleShowGridLines : true,

				    //String - Colour of the grid lines
				    scaleGridLineColor : "rgba(0,0,0,.05)",

				    //Number - Width of the grid lines
				    scaleGridLineWidth : 1,

				    //Boolean - Whether to show horizontal lines (except X axis)
				    scaleShowHorizontalLines: true,

				    //Boolean - Whether to show vertical lines (except Y axis)
				    scaleShowVerticalLines: true,

				    //Boolean - If there is a stroke on each bar
				    barShowStroke : true,

				    //Number - Pixel width of the bar stroke
				    barStrokeWidth : 2,

				    //Number - Spacing between each of the X value sets
				    barValueSpacing : 5,

				    //Number - Spacing between data sets within X values
				    barDatasetSpacing : 1,

				};
				{% set needGraphs = False %}
		
				{% if itemSort %}
					{% set needGraphs = True %}
					{% call input() %}
						{% set firstTime = True %}
						{% for datatable in alls %}

							{% if datatable[1] is not string %}
								{% if letable[s].1 == "radio" %}
								{% else %}
									{% if not firstTime %},{% endif %}{{datatable[1]}}.0
									{% set firstTime = False %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endcall %}
					var ctx = document.getElementById("{{letable[s].0}}").getContext("2d");
					new Chart(ctx).Bar(data, options);
				{% elif avg or minmax %}
					{% set needGraphs = True %}
					{% set i=-1 %}
					{% for part in letable %}
						{% set i=i+1 %}
						{% call input() %}
							{% set firstTime = True %}
							{% for datatable in alls %}
								{% if datatable[i] is not string %}
									{% if part[1] == "radio" %}
										{% if not firstTime %},{% endif %}
										{% for buttavg in datatable[i]}
											{{buttavg}}
										{% endfor %}
										{% set firstTime = True %}
									{% else%}
										{% if not firstTime %},{% endif %}{{datatable[i]}}
										{% set firstTime = False %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endcall %}
						var ctx = document.getElementById("{{part.0}}").getContext("2d");
						new Chart(ctx).Bar(data, options);
					{% endfor %}
				{% endif %}
			
			}
			var loaded = false;
			function showhide()
			{
				if (loaded == false)
				{
					loaded = true;
					onBodyStart();
				}
				charts = document.getElementById("charts")
				if (charts.style.display=="block")
					charts.style.display="none"
				else
					charts.style.display="block"
			}
		</script>
	{% endif %}
	</head>
	<body {% if itemSort %}onLoad="onBodyStart();"{% endif %}>
		<center>
			<h1>1764 Scouting App</h1>

			{% if secureMode %}
				<h2>Secure Mode - No modifying data.</h2>
			{% endif %}
			<a href="/master/"><h3>Database View</h3></a>
		</center>

		<a href="/allavg/">All averages</a><br>
		{% set i = -1 %}
		{% for part in letable %}
			{% set i = i+1 %}
			<a href="/itemSort/{{i}}">{{part.2}}</a>
		{% endfor %}
		<br>

		{% for team in teams %}
			{{team.0}}:
			{% set humanReads = ["Team","Avg","Min","Max"] %}
			{% set i = -1 %}
			{% for link in ["teamSort","avg","min","max"] %}
				{% set i = i+1 %}
				<a href="/{{link}}/{{team.0}}">{{humanReads[i]}}</a>
			{% endfor %}
			; 
		{% endfor %}
		<br>
		{% if itemSort %}
			{{letable[s].2}}:
			<br>
			<canvas  id="{{letable[s].0}}" width="1000" height="400" ></canvas><br>
		{% elif needGraphs %}
			<input type="button" value="Show/hide graphs" onclick="showhide();" />
			<br>
			<div id="charts" style="display: none;">
			{% for part in letable %}
				{{part.2}}: <a href ="#top">(back to top)</a>
				<br>
				<canvas id="{{part.0}}" width="1000" height="400"></canvas><br>	
			{% endfor %}
			</div>
		{% endif %}








		{% set lastTeam = -1337 %}
		{% for datatable in alls %}
			<table>
			{% set i = -1 %}
			{% if itemSort %}
				{% if lastTeam != datatable.0 %} {#we just need to give the team number, and the value of the variable requested. We also don't
want to duplicate team number and line--it helps that SQL has orginized it by team for us.#}
					<hr>
					<tr title="{{letable[0].3}}"><td>Team num</td><td> {{datatable.0}}</tr>
				{% endif %}
				{% set lastTeam = datatable.0 %}
				<tr title="{{letable[s].3}}"><td>{{letable[s].2}}</td><td>{{datatable.1}}</td></tr>
						
			{% else %}
				{% for data in datatable %}
					{% set i = i+1 %}
					<tr title="{{letable[i].3}}">
					{% if letable[i].1 == 'head' %} {#heads just need to be printed out#}
						<td><hr><h1>{{letable[i].2}}</h1></td><td>
					{% else %}
						<td>{{letable[i].2}}</td><td> {#print out the name on the first sect of the table #}
						{% if letable[i].1 == 'radio' %} {#radio buttons need special handling #}

							{% if minmax %}
								No radiobutton data for {{minmax}}imum {#cannot min/max radios #}
							{% elif avg %} {#can show the avg times each one was selected #}
								{% set butnum = -1 %}
								{% for butavged in data %}
									{% set butnum = butnum + 1 %}
									{{letable[i].4[butnum]}}: {{butavged * 100}}%, {# decimal > percentage #}
								{% endfor %}
									
							{% else %}
								{{letable[i].4[data]}} {# if this is just normal, print out the button selected #}
							{% endif %}

						{% elif letable[i].1 == 'check' %}
							{% if minmax == 'max' %}
								was ever checked
							{% elif minmax == 'min' %}
								was ever unchecked
							{% endif %}
							{% if avg  %}
								{{data * 100}}% of the time {# demical > percentage #}
							{% else %}
								{% if data == 0 %}
									[x]
								{% else %}
									[√]
								{% endif %}
							{% endif %}
						{% else %}
							{{data}} times {% if avg %}on average{%elif minmax %}on {{minmax}}imum{% endif%}
							{# minmax is a string var containing either min or max, so it will come out minimum or maximum #}
						{% endif %}
						</td></tr>	
					{% endif %}
				{% endfor %}
				</table>
				<hr style = "border-width: 5px;">
			{% endif %}
		{% endfor %}
	</body>
</html>
