<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<h1>Final step</h1>
		<p>Click submit and it will send the scouting data to the master database.</p>
		<form action="http://{{ip}}:9001/uploaddb_up/" method = POST>
			<input type = "text" name = "json" value="{{json}}" hidden>
			<input type="submit" value="Submit">	
		</form>
<p>If the submit button does nothing, make sure that the IP address is correct. Try <a href="http://{{ip}}:9001/">visiting it</a> and if it leads to a scouting client, it's right.</p>
	</body>
</html>
